.main_div{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.file_select{
    flex: 1;
    min-width: 150px;
    max-width: 33vw;
}

.open_file_button{
    margin-left: 50px;
    flex: 1;
    max-width: 100px;
    
}